#google-map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.info-card-wide.mdl-card {
  @media screen and (max-width: 549px) {
    width: 200px;
  }
}

.info-card-wide {
  > .mdl-card__title {
  color: #fff;
  height: 176px;
  opacity: 1.0;
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/ed.png') center / cover;
  }
  > .mdl-card__menu {
    color: #fff;
  }
}

.info-card-image.mdl-card {
  width: 200px;
  height: 56px;
}

.pull-right {
    float: right !important;
    img {
      width: 30px;;
      height: 30px;
      margin-top: -40px;
    }
}

.mdl-layout--fixed-drawer:not(.is-small-screen)>.mdl-layout__header {
    margin: 0;
    width: 100%;
}

.gm-style-iw {
  height: 500px!important;
  width: 500px!important;
}

.thumbnail .caption {
    max-height: 100px;
    overflow: hidden;
    p {
        text-align: center;
        font-size: 12px;
        text-indent: 0;
        margin: 0;
        color: #757575!important;
        font-weight: 400;
        padding: 10px;
    }
}
